<html>
  <head>
    <title>Silence</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@700&family=Monoton&family=Roboto+Mono&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/public/style.css" />
  </head>
  <body>
    <div id="container">
      <header>
        <h1>Silence</h1>
        <p class="subheading">A personal library API</p>
      </header>

      <h2>Test API responses</h2>
      <div id="sampleposting">
        <form action="/api/books" method="post" class="border">
          <h4>Test post to <code>/api/books</code></h4>
          <label for="title">Book Title</label>
          <input type="text" id="title" name="title" value="" /><br />
          <input type="submit" value="Submit" />
        </form>
        <form action="" method="post" id="commentTest" class="border">
          <h4>Test post to <code>/api/books/{bookid}</code></h4>
          <label for="idinputtest">BookId to comment on</label>
          <input type="text" name="id" value="" id="idinputtest" /><br />
          <label for="comment">Comment</label>
          <input type="text" id="comment" name="comment" value="" /><br />
          <input type="submit" value="Submit" />
        </form>
      </div>

      <h2>Sample Front-End</h2>
      <div id="sampleui">
        <form id="newBookForm" class="border">
          <label for="bookTitleToAdd">New Book Title</label>
          <input type="text" id="bookTitleToAdd" name="title" placeholder="The Hobbit" />
          <button type="submit" value="Submit" id="newBook">Submit New Book!</button>
        </form>

        <h3>Current Books</h3>
        <div id="display"></div>
        <div id="bookDetail" class="border">
          <p id="detailTitle">Select a book to see it's details and comments</p>
          <ol id="detailComments"></ol>
        </div>

        <button id="deleteAllBooks">Delete all books...</button>
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-2.2.1.min.js"
      integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
      crossorigin="anonymous"
    ></script>
    <script src="/public/client.js"></script>
    <script>
      /*
       *  For #sampleposting to update form action url to test inputs book id
       */
      $(function () {
        $("#commentTest").submit(function () {
          let id = $("#idinputtest").val();
          $(this).attr("action", "/api/books/" + id);
        });
      });
    </script>
  </body>
</html>
